<app-card title="Perfil profesional 💻">
    <p>Soy desarrolladora con más experiencia en front-end que en back-end, y me encanta combinar lo técnico con lo
        visual. Me gusta que las cosas funcionen bien, pero también que se vean lindas y tengan personalidad.</p>

    <p>Me llevo bien con la planificación y la documentación, porque me gusta que todo esté claro y
        ordenado. Me adapto muy bien al trabajar en equipo, compartir lo que aprendo y ponerle algo de mí en cada
        proyecto.</p>

    <p>Hoy estoy enfocada en seguir creciendo en tecnología y videojuegos, buscando que lo que hago tenga impacto y
        refleje tanto lo funcional como lo estético.</p>
</app-card>

<br>

<app-card title="Perfil personal 🎨">
    <p>Soy curiosa y creativa (o al menos lo intento). Bailo danzas urbanas y últimamente me metí en el
        mundo de la ilustración digital gracias a una materia que me inspiró (Arte Digital).</p>

    <p>Estoy aprendiendo por mi cuenta, probando técnicas, estilos y formas de expresarme. Me gusta explorar, documentar
        lo que descubro y compartirlo.</p>

    <p>Me encanta todo lo que tenga que ver con estética gamer y
        visuales que transmitan algo más allá de lo funcional.</p>
</app-card>