<app-card title="SOBRE MÍ">

    <p>Hola, ¿qué tal?</p>

    <p>Mi nombre es Carolina Luján. Estoy cursando mi último cuatrimestre de la tencicatura en programación de
        videojuegos y actualmente me queda una materia, en la Universidad Nacional de Hurlingham.</p>

    <p>Durante el camino de mi carrera, fui descubriendo que lo que disfruto no es solo programar, sino también aportar
        ideas, desarrollarlas y crear algo que pueda tener buenos resultados —y que a la gente le guste, obvio—.</p>

    <p>Fuera de la programación, estoy incursionando en el mundo de la ilustración digital. Un mundo en el que siempre
        tuve mucha curiosidad, pero en el que no me animaba a agarrar el lapiz. Es el momento donde siento que la
        creatividad más fluye —aunque a veces no salga como quiero— y que, al mismo tiempo, me llena de experiencias y
        conocimientos al investigar cómo llegar al objetivo que me propuse.</p>

    <p><strong>¿Por qué videojuegos?</strong></p>

    <p>Si les soy sincera, no soy de jugar muchos videojuegos, pero siempre me interesó el "detrás de escena". Desde la
        idea base, las tranformaciones, el desarrollo, el arte, los sonidos, los detalles que lleve a una experiencia
        agradable para el jugador y que quiera volver a jugarlo.</p>

    <p>Entonces pensé...¿por qué no? ¿Qué me detiene?</p>

    <p>Al un principio era un mundo extraño, pero a medida que fue pasando el tiempo, me fui convenciendo más de que
        esto era lo correcto, que no me equivoqué al elegir.</p>

    <p>No puedo decir que soy programadora, pero sí puedo decir que <strong>casi</strong> lo soy. Con cada materia, cada proyecto, cada
        noticia, cada juego, voy aprendiendo un poquito más.</p>

</app-card>

<br>