<app-card title="HABILIDADES / CONOCIMIENTOS">
    <div class="skills-columns">

        <div class="skills-block">
            <h3>Videojuegos</h3>
            <ul class="badges">
                <li class="badge">Unity</li>
                <li class="badge">C#</li>
                <li class="badge">PixiJS</li>
                <li class="badge">JavaScript</li>
                <li class="badge">Documentación</li>
                <li class="badge">Ilustración</li>

            </ul>
        </div>
        <div class="skills-block">
            <h3>Desarrollo web</h3>
            <ul class="badges">
                <li class="badge">Angular</li>
                <li class="badge">TypeScript</li>
                <li class="badge">HTML / CSS</li>
                <li class="badge">SQL Server</li>
                <li class="badge">API Rest</li>
                <li class="badge">JavaScript</li>
                <li class="badge">Node.js <i>/ no mucho, pero estoy familairizada</i></li>
                <li class="badge">MongoDb <i>/ no mucho, pero estoy familairizada</i></li>
            </ul>
        </div>

        <div class="skills-block">
            <h3>Soft skills</h3>
            <ul class="badges">
                <li class="badge">Comunicación</li>
                <li class="badge">Colaboración</li>
                <li class="badge">Resolución de problemas</li>
                <li class="badge">Adaptabilidad</li>
                <li class="badge">Atención al detalle</li>
                <li class="badge">Aprendizaje continuo</li>
                <li class="badge">Proactividad</li>
            </ul>
        </div>

        <div class="skills-block">
            <h3>Herramientas</h3>
            <ul class="badges">
                <li class="badge">GitHub / GitLab</li>
                <li class="badge">Postman</li>
                <li class="badge">Trello</li>
                <li class="badge">Youtrack</li>
            </ul>
        </div>


    </div>
</app-card>