<app-card title="Skills & soft skills">
    <div class="skills-columns">
        <div class="skills-block">
            <h3>Skills</h3>
            <ul class="badges">
                <li class="badge">Angular</li>
                <li class="badge">TypeScript</li>
                <li class="badge">HTML/CSS</li>
                <li class="badge">SQL Server</li>
                <li class="badge">API REST</li>
                <li class="badge">GitHub/GitLab</li>
                <li class="badge">Postman</li>
                <li class="badge">Trello</li>
                <li class="badge"> YouTrack</li>
                <li class="badge">UI/UX Design</li>
                <li class="badge">Documentación</li>
            </ul>
        </div>

        <div class="skills-block">
            <h3>Soft skills</h3>
            <ul class="badges">
                <li class="badge">Comunicación</li>
                <li class="badge">Colaboración</li>
                <li class="badge">Atención al detalle</li>
                <li class="badge">Flexibilidad</li>
                <li class="badge">Motivación</li>
                <li class="badge">Resolución de problemas</li>
                <li class="badge">Adaptabilidad</li>
                <li class="badge">Gestión del tiempo</li>
                <li class="badge">Aprendizaje continuo</li>
                <li class="badge">Proactividad</li>
            </ul>
        </div>

        <div class="skills-block">
            <h3>Algunos más (pero no son mi fuerte)</h3>
            <ul class="badges">
                <li class="badge">JavaScript (aunque parezca raro)</li>
                <li class="badge">NodeJS</li>
                <li class="badge">MongoDB</li>
            </ul>
        </div>
    </div>
</app-card>