<app-card>
  <div class="hero">

    <div class="card-img">
      <img src="assets/fotoPerfil.jpg" alt="Foto de perfil" />
    </div>

    <h1>Carolina Luján</h1>
    <p>GAME DEVELOPER | PROGRAMMER </p>
    <p>Unity · C# · TypeScript · Angular · SQL </p>
    <br>
    <div class="cta">
      <a class="btn neon" routerLink="/proyectos">VER PROYECTOS</a>
    </div>
    <br>
    <div class="cta">
      <a href="assets/documents/cvIt.pdf" download="Carolina_Lujan_CV.pdf">DESCARGAR CV</a>
    </div>
  </div>
</app-card>